<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand btn btn-outline-secondary bg-light col-3 mr-0 border-0 " routerLink="/home">Home</a>
    <a class="navbar-brand btn btn-outline-secondary bg-light col-3 mr-0 border-0" routerLink="/plans">Plans</a>
    <a class="navbar-brand btn btn-outline-secondary bg-light col-3 mr-0 border-0" routerLink="/about">About</a>
    <a class="navbar-brand btn btn-outline-secondary bg-light col-3 mr-0 border-0" routerLink="/contato">Contact</a>
</nav>