<div class="container">

    <h2 class="text-monospace col-12 d-flex justify-content-center ">MARKETING</h2>


    <div id="carouselExampleIndicators" class="carousel shadow slide mx-auto" data-ride="carousel" data-interval="5000">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner mb-5">
            <div class="carousel-item active mx-auto">
                <img src="https://i.imgur.com/MmUfhlO.jpg" class="d-block  w-100" alt="Pessoa com café">
            </div>
            <div class="carousel-item">
                <img src="https://i.imgur.com/XZfiwEd.jpg" class="d-block  w-100" alt="Computador na mesa">
            </div>
            <div class="carousel-item">
                <img src="https://i.imgur.com/A6oaIcR.jpg." class="d-block  w-100" alt="caixinha de som">
            </div>


            <div class="bg-dark">
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>

    </div>

    <h4 class="text-center mb-1">What We Offer</h4>
    <hr class="bg-dark py-1 col-3 mx-auto ">

    <div class="container pt-5">
        <div class="row row-cols-10 shadow ">
            <div class="col bg-light">
                <h5 class="pt-1 pb-1">Design</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi dolor suscipit totam haha aha aha.
                </p>
            </div>

            <div class="col bg-warning">
                <h5 class="pt-1 pb-1">Branding</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi dolor suscipit totam haha aha aha.
                </p>
            </div>

            <div class="col bg-secondary text-light">
                <h5 class="pt-1 pb-1">Consultation</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi dolor suscipit totam haha aha aha.
                </p>
            </div>

            <div class="col bg-dark text-light">
                <h5 class="pt-1 pb-1">Promises</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi dolor suscipit totam haha aha aha.
                </p>
            </div>
        </div>
    </div>
</div>