<footer class="page-footer  font-small shadow pt-3 rounded">

    <!-- Footer Elements -->
    <div class="container">

        <button type="button" class=" btn-outline-dark d-flex justify-content-center col-md-2 mx-auto">
            <fa-icon [icon]="faArrowUp" class="fas fa-arrow-up mr-2"></fa-icon>
            <div class="font-weight-bold border-0" routerLink="#top">Back to the top</div> 
        </button>

        <h4 class="text-monospace text-center py-2">See more on social media</h4>

        <!-- Grid row-->
        <div class="row">
            <!-- Grid column -->
            <div class="d-flex justify-content-center col-md-12 mb-1">
                <!-- Facebook +-->
                <a class="icoFacebook">
                    <fa-icon [icon]="faFacebookSquare" class="fa-facebookSquare fa-2x p-1"></fa-icon>
                </a>
                <!-- Github +-->
                <a class="icoGithub">
                    <fa-icon [icon]="faGithubSquare" class="fa-github-Square fa-2x p-1"></fa-icon>
                </a>
                <!--Linkedin -->
                <a class="icoLinkedin">
                    <fa-icon [icon]="faLinkedin" class="fa-linkedin-in fa-2x p-1"></fa-icon>
                </a>
                <!--Instagram-->
                <a class="icoInstagram">
                    <fa-icon [icon]="faInstagramSquare" class="fa-instagramSquare fa-2x p-1"></fa-icon>
                </a>
            </div>
            <!-- Grid column -->
        </div>
        <!-- Grid row-->
    </div>
    <!-- Footer Elements -->
          


    <!-- Copyright -->
    <div class="footer-copyright text-center py-2">Powered by
        <a href="https://www.w3schools.com/w3css/default.asp" >w3.css</a>
    </div>
    <!-- Copyright -->

</footer>