<h4 class="text-center mb-1 mt-5">Pricing Plans</h4>
<h6 class="text-center mb-1 pt-1 pb-3">Choose a pricing plan that fits your needs.</h6>

<div class="d-flex justify-content-center col-md-12">

    <div class="card mr-3 mb-5" style="width: 18rem;">
        
        <div class="card-body bg-dark text-light">
            <h4 class="card-title text-center">Basic</h4>
        </div>
        <ul class="list-group list-group-flush text-center">
            <li class="list-group-item">
                <h6>10GB Storage</h6>
            </li>
            <li class="list-group-item">
                <h6>10 Emails</h6>
            </li>
            <li class="list-group-item">
                <h6>10 Domains</h6>
            </li>
            <li class="list-group-item">
                <h6>Endless Support</h6>
            </li>
            <li class="list-group-item">
                <h6>$ 10 per month</h6>
            </li>

        </ul>
        <div class="card-body">
            <a href="#"><button type="button"
                class=" card-link mg-auto w-100 btn btn-outline-dark">Sign Up</button></a>

        </div>
    </div>

    <div class="card mr-3 mb-5" style="width: 18rem;">

        <div class="card-body text-light bg-secondary">
            <h4 class="card-title text-center">Pro</h4>
        </div>
        <ul class="list-group list-group-flush text-center">
            <li class="list-group-item">
                <h6>25GB Storage</h6>
            </li>
            <li class="list-group-item">
                <h6>25 Emails</h6>
            </li>
            <li class="list-group-item">
                <h6>25 Domainss</h6>
            </li>
            <li class="list-group-item">
                <h6>Endless Support</h6>
            </li>
            <li class="list-group-item">
                <h6>$ 25 per month</h6>
            </li>

        </ul>
        <div class="card-body">
            <a href="#"><button type="button" class=" card-link mg-auto w-100 btn btn-outline-dark">Sign Up</button></a>
        </div>
    </div>




    <div class="card mb-5" style="width: 18rem;">

        <div class="card-body text-light bg-dark">

            <h4 class="card-title text-center">Premium</h4>

        </div>

        <ul class="list-group list-group-flush text-center">
            <li class="list-group-item">
                <h6> 50GB de armazenamento</h6>
            </li>
            <li class="list-group-item">
                <h6>50 Emails</h6>
            </li>
            <li class="list-group-item">
                <h6>50 Domains</h6>
            </li>
            <li class="list-group-item">
                <h6>Endless Support</h6>
            </li>
            <li class="list-group-item">
                <h6>$ 50 per month</h6>
            </li>

        </ul>
        <div class="card-body">
            <a href="#"><button type="button"
                    class="card-link mg-auto w-100 btn btn-outline-dark">Sign Up</button></a>
        </div>
    </div>
</div>