<form class="col-md-8 mx-auto mt-5 mb-5">

  <h4 class="Contato2 text-center mb-1 mt-5">Contact Us</h4>
  <hr class="bg-dark py-1 col-3 mx-auto ">

  <div class="contato1">

    <div class="form-group">
      <label for="exampleFormControlInput1 shadow bg-white rounded">Name</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Type your name">
    </div>

    <div class="form-group">
      <label for="exampleFormControlInput1 shadow bg-white rounded">Email</label>
      <input type="email" class="form-control" id="exampleFormControlInput1"
        placeholder="Type your email name@example.com">
    </div>

    <div class="form-group">
      <label for="exampleFormControlInput1 shadow bg-white rounded">Subject</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter subject">
    </div>

    <div class="form-group">
      <label for="exampleFormControlTextarea1 shadow bg-white rounded">Message</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
        placeholder="Enter your message"></textarea>
    </div>

    <a href="#"><button type="button" class="card-link w-100 btn btn-outline-dark shadow rounded">Send</button></a>

  </div>
</form>