<h4 class="titulo1 text-center mb-1">Who We Are</h4>
<hr class="bg-dark py-1 col-3 mx-auto ">

<div class="container">

    <div class="row cards d-flex justify-content-around">

        <div class="card col-lg-3 col-10 mb-5 shadow p-0 " style="width: 18rem;">
            <img class="card-img-top" src="https://i.imgur.com/KXwlyGu.jpg" alt="Card image cap">
            <div class="card-body text-center">
                <h5 class="card-title">Jane Doe</h5>
                <p class="text-black-50">CEO & Founder</p>
                <p class="card-text">Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque
                    elementum.</p>

                <a href="#" class="card-link mg-auto w-100 btn btn-outline-dark">Contact</a>
            </div>
        </div>

        <div class="card col-lg-3 col-10 mb-5 shadow p-0" style="width: 18rem;">
            <img class="card-img-top" src="https://i.imgur.com/ZI5awBA.jpg" alt="Card image cap">
            <div class="card-body text-center">
                <h5 class="card-title">Mike Ross</h5>
                <p class="text-black-50">Art Director</p>
                <p class="card-text">SPhasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales
                    pellentesque
                    elementum.</p>
                <a href="#" class="card-link mg-auto w-100 btn btn-outline-dark">Contact</a>
            </div>
        </div>

        <div class="card mb-5 shadow col-lg-3 col-10 p-0" style="width: 18rem;">
            <img class="card-img-top" src="https://i.imgur.com/UrgKlEf.jpg" alt="Card image cap">
            <div class="card-body text-center">
                <h5 class="card-title">John Doe</h5>
                <p class="text-black-50">Designer</p>
                <p class="card-text">Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque
                    elementum.</p>
                <a href="#" class="card-link mg-auto w-100 btn btn-outline-dark">Contact</a>
            </div>
        </div>

    </div>

</div>